@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  } 
  .header {
    background-image: url("/images/pinkflowers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer-grids{
    margin-top: 1rem;
  }
  .about{
    margin-top: 18rem;
  }
  .products-title{
    margin-top: -20rem;
  }
}

/* Media inquiries for 784px and below */
@media (max-width: 784px) {
  .footer-grids{
    margin-top: 1rem;
  }

  .about{
    margin-top: 85rem;
  }

  .products-title{
    margin-top: -48rem;
    margin-left: 5rem;
  }

  .image-controls{
    top: 0;
    left: 0;
  }

  .contacts{
    margin-top: -32rem;
  }


}

