@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  } 
  .header {
    background-image: url("/images/pinkflowers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer-grids{
    margin-top: 18rem;
  }

}

